.stack {
  margin-bottom: 70px;

  @media (max-width: $mobile-max) {
    margin-bottom: 50px;
  }
}

.stack-container {
  @include container();
}

.stack-title {
  @include h2-title();

  @media (max-width: $mobile-max) {
    font-size: 20px;
  }
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
  list-style: none;
}

.stack-item {
  margin: 4px;
  padding: 4px 17px;
  background-color: rgba($color-accent, .1);
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all .2s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    background-color: rgba($color-accent, .2);
  }
}

.stack-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  color: $color-accent;
  text-align: center;
}