// fonts
$font: 'Manrope', sans-serif;

// colors
$color-light: #ECEFF4;
$color-dark: #2E3440;
$color-accent: #88C0D0;

// indents
$gap: 30px;
$gap-half: 15px;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$mobile-max: $tablet - 1;
$tablet-max: $desktop - 1;
